# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
# created-by: conda 24.11.1

dtaidistance
matplotlib
numpy
obspy
optuna
optuna-dashboard
pandas
scikit-learn
scipy
seaborn
sympy
tqdm
xlstm

# for pytorch use pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118